.ticket-card {
  background-color: #8a74f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
}




.header .title-header {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.link {
  background-color: white;
  width: 60%;
  margin-inline: auto;
  margin-bottom: 20px;
  padding-block: 10px;
  border-radius: 10px;
}

.link a {
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.valid-until {
  margin-bottom: 20px;
  border-bottom: #b9acfb 4px dashed;
  position: relative;
}
.valid-until ::after {
  content: "";
  position: absolute;
  width:35px;
  height: 35px;
  bottom:-49%;
  right: -8%;
  z-index: 0;
  background: #f3f5f7;
  border-radius: 50%;
}
.valid-until ::before {
  content: "";
  position: absolute;
  width:35px;
  height: 35px;
  bottom:-49%;
  left: -8%;
  z-index: 0;
  background: #f3f5f7;
  border-radius: 50%;
}
.valid-until p {
  font-size: 12px;
}

.discount {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  display: flex;

}


.discount span {
  font-size: 32px;
  font-weight: bold;
}

.qr-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
