<div class="container-fluid pt-5 ps-5 my-bg">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <button class="btn border border-1">
        تعديل<i class="fa-solid fa-paintbrush my-color"></i>
      </button>
    </div>
    <div class="d-flex justify-content-between align-items-center gap-3">
      <p>
        تذكره رقم #2342
      </p>
      <button class="btn bg-secondary-subtle border-0">
        <i class="fa-solid fa-arrow-right-long"></i>
      </button>
    </div>
  </div>
  <div class="row">

    <div class="col-md-4">
      <app-card></app-card>

    </div>
    <div class="col-md-8">
      <app-chart></app-chart>

    </div>
    <div class="col-12">
      <app-table></app-table>

    </div>
  </div>

</div>