th {
  color: #abaab1;
  font-size: 13.28px;
  font-weight: 400;
}

td {
  color: #1c1c28;
  font-size: 13.28px;
  font-weight: 400;
}
.text-phone {
  color: #92a1ad;
  font-size: 9.96px;
}
.my-bg {
  background-color: #8a74f9;
}
.custom-tooltip {
  background-color: #f0f0f0;
  color: #1c1c28;
  border-radius: 4px;
  padding: 5px;
}
.my-color {
  color: #8a74f9;
  border-color: #8a74f9 !important;
}
.cr {
  cursor: pointer;
}

